<div class="example-container mat-elevation-z8 table-coach">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table"
           matSort> <!--matSortActive="created" matSortDisableClear matSortDirection="desc"-->

      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">{{row.number}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let row">{{row.title}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let row">{{row.state}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Created
        </th>
        <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>
</div>
<!--


<mat-form-field appearance="legacy">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="fsdfs" #input>
</mat-form-field>

<div class="mat-elevation-z8 table-coach" *ngIf="coaches">
  <table mat-table [dataSource]="dataSource" matSort>

    &lt;!&ndash; ID Column &ndash;&gt;
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    &lt;!&ndash; Surname Column &ndash;&gt;
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
      <td mat-cell *matCellDef="let row"> {{row.surname}}% </td>
    </ng-container>

    &lt;!&ndash; Name Column &ndash;&gt;
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    &lt;!&ndash; Patronymic Column &ndash;&gt;
    <ng-container matColumnDef="patronymic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Patronymic </th>
      <td mat-cell *matCellDef="let row"> {{row.patronymic}} </td>
    </ng-container>

    &lt;!&ndash; Patronymic Column &ndash;&gt;
    <ng-container matColumnDef="horseCount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Horse Count </th>
      <td mat-cell *matCellDef="let row"> {{row.coachHorses.length}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        (click)="openDialog(row)"
        *matRowDef="let row; columns: displayedColumns;"></tr>

    &lt;!&ndash; Row shown when there is no matching data. &ndash;&gt;
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

-->

<div fxLayout="row" >
  <div fxFlex="100" *ngIf="coaches">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <div class="container-fluid py-4">
        <div class="row mb-4">
          <div class="col-12">
            <div class="card">
              <div class="card-header pb-0">
                <div class="row">
                  <div class="col-lg-6 col-7">
                    <h6>Projects</h6>
                    <p class="text-sm mb-0">
                      <i class="fa fa-check text-info" aria-hidden="true"></i>
                      <span class="font-weight-bold ms-1">30 done</span> this month
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive">
                  <table class="table align-items-center mb-0">
                    <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">#</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">surname</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">name
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">patronymic
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                        horses
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let coach of coaches; let i = index">
                      <td>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="b-0 text-sm">{{i+1}}</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="b-0 text-sm">{{coach.surname}}</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="b-0 text-sm">{{coach.name}}</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="b-0 text-sm">{{coach.patronymic}}</h6>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="b-0 text-sm">{{coach.coachHorses.length}}</h6>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>


</div>
<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap='10px' [hidden]="coaches">
  <p> </p><mat-spinner></mat-spinner><h6>Loading...</h6>
</div>


